body {
    background-color: white;
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
    background-image: linear-gradient(to right, #1d0374, #4a0071);
}