body {
    background-color: white;
    text-align: center;
    background-image: linear-gradient(to right, #a7c01a, #4a0071);
}

.addDeptRoom{
    color:#1d0374;
    text-align: center;
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: azure;
}
.addDeptRoom{
    width: fit-content;
}

button{
    width: max-content;
}