body {
    background-color: white;
    text-align: center;
}

.addDeptRoom{
    color:#1d0374;
    text-align: center;
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: azure;
}
.addDeptRoom{
    width: fit-content;
}
.addDept{
    background-color: #a5b4fc;
    color: #1d0374;
    font-weight: 550;
    border-radius: 5px;
    padding: 10px;
}

button{
    width: max-content;
}