.dept{
    /* top: 20px;
    display: flex;
    position: relative; */
}

.bench{
    align-items: center;
    padding: 5px;
    display: absolute;
    align-content: center;
    text-align: center;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    

}