/* .dept{ */
    /* top: 20px;
    display: flex;
    position: relative; */
/* } */

.selections{
    background-image: linear-gradient(to right, #f0a0a0, #d395f4);
    size: 10px;
}

.bench{
    align-items: center;
    padding: 5px;
    display: absolute;
    align-content: center;
    text-align: center;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    

}

.down-button{
    text-align: center;
    color: #d395f4;
    font-size: 25px;
    
}

.down-button:hover{
    color: rgb(255, 55, 55);
    
}
.DownloadSelections{
    background-image: linear-gradient(to right, #f0a0a0, #d395f4);
}

