
.buttonholder{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 20%;

    
}

.goSelect{
    background-color: aliceblue;
    color: rgb(117, 163, 232);
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    text-align: center;
    width: 200px;
    padding: 10px;


  }
  .goSelect:hover{
    color: whitesmoke;
    background-color: #6daaec;
  }